{{!-- check for proper button html --}}

<h1>Eat-the-Burger</h1>

<p>Manage your burgers</p>

<!-- Pass in data from server.js -->
<ul>
    {{#each burgers}}
    <li>
        <p><span class="label">ID:</span> {{this.id}}</p>
        <p><span class="label">burger:</span> {{this.burger_name}}</p>

        <button data-id="{{this.id}}" class="delburger">Delete</button>

        <a href="/{{this.id}}">Update burger</a>
    </li>
    {{/each}}
</ul>
<button class="btn" type="submit"></button>